﻿@using JobManagement.Utils;
@using Domain.Enums;
@using Domain.Entities;
@model List<Account>;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var totalPages = ViewData["TotalPages"] as int?;
    var pageNumber = ViewData["PageNumber"] as int?;
    var selectedId = ViewData["SelectedId"] as long?;
    ISession? session = HttpContextAccessor.HttpContext?.Session;

    string? isRootAdmin = session?.GetString("currentIsRootAdmin");
}

@{
    if (Model.Count > 0)
    {

        <div class="text-nowrap">
            <table class="table table-hover mt-4 mb-4">
                <thead>
                    <tr>
                        <th class="w-px-20">#</th>
                        <th>Full Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @{
                        int index = 0;
                    }
                    @foreach (var account in Model)
                    {
                        index++;
                        <tr>
                            <td> <strong>@index</strong></td>
                            <td>@account.FullName</td>
                            <td>@account.Username</td>
                            <td>@account.Email</td>
                            <td>@account.Phone</td>
                            <td>
                                @{
                                    if (Object.Equals(account.Status, AccountStatus.ACTIVE))
                                    {
                                        <span class="badge bg-label-primary me-1">@account.Status</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-label-danger me-1">@account.Status</span>
                                    }
                                }
                            </td>
                            <td>
                                @if (Object.Equals(isRootAdmin, (true + "")))
                                {
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="@Url.Action("AccountDetail", "Account", new { id = account.Id})"><i class="bx bx-edit-alt me-1"></i> Detail</a>
                                            @{
                                                if (Object.Equals(account.Status, AccountStatus.ACTIVE))
                                                {
                                                    <form id="" asp-action="Inactivate" asp-controller="Account" class="mb-3" method="post">
                                                        <input name="Id" value="@account.Id" hidden />
                                                        <button class="dropdown-item" type="submit">
                                                            <div class="text-danger"><i class="bx bx-trash me-1 text-danger"></i> Inactivate</div>
                                                        </button>
                                                    </form>
                                                }
                                                else
                                                {
                                                    <form id="" asp-action="Activate" asp-controller="Account" class="mb-3" method="post">
                                                        <input name="Id" value="@account.Id" hidden />
                                                        <button class="dropdown-item" type="submit">
                                                            <div class="text-primary"><i class="bx bx-trash me-1 text-primary"></i> Activate</div>
                                                        </button>
                                                    </form>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


        @if (totalPages > 0)
        {
            <div class="my-3">
                <div class="row">
                    <div class="col">
                        <div class="max-auto">
                            <nav aria-label="Page navigation">
                                <ul class="pagination d-flex justify-content-end">
                                    @if (@pageNumber != 1)
                                    {
                                        <li onclick="getPage(1)" class="page-item first">
                                            <a class="page-link" href="javascript:void(0);">
                                                <i class="tf-icon bx bx-chevrons-left"></i>
                                            </a>
                                        </li>
                                    }
                                    @for (int i = 1; i <= totalPages; i++)
                                    {
                                        <li onclick="getPage(@i)" id="page-link" data-page-number="@i" class="page-item @(i == pageNumber ? "active" : "")">
                                            <a class="page-link" href="javascript:void(0);">@i</a>
                                        </li>
                                    }

                                    @if (pageNumber != totalPages)
                                    {
                                        <li onclick="getPage(@totalPages)" class="page-item last">
                                            <a class="page-link" href="javascript:void(0);">
                                                <i class="tf-icon bx bx-chevrons-right"></i>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}