﻿@using JobManagement.Models.Account;
@using JobManagement.Models.Auth;
@model AddAccountModel;
@{
    ViewData["Title"] = "Add Account Page";
}

<!-- Basic with Icons -->
<div class="col-xxl col-lg-8 container">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Add Account</h5>
        </div>
        <div class="card-body">
            <form id="" asp-action="Add" asp-controller="Account">
                <div class="mb-3">
                    <div class="flex-fill">
                        <label class="form-label" for="basic-icon-default-company">Full Name *</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text">
                                <i class="bx bx-user"></i>
                            </span>
                            <input type="text"
                                   asp-for="@Model.FullName"
                                   id="basic-icon-default-company"
                                   class="form-control"
                                   placeholder="Full Name"
                                   aria-label="Full Name"
                                   aria-describedby="basic-icon-default-company2" />

                        </div>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="flex-fill">
                        <label class="form-label" for="basic-icon-default-company">Username *</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text">
                                <i class='bx bx-user'></i>
                            </span>
                            <input type="text"
                                   asp-for="@Model.Username"
                                   id="basic-icon-default-company"
                                   class="form-control"
                                   value="@Model?.Username"
                                   placeholder="Username"
                                   aria-label="Username"
                                   aria-describedby="basic-icon-default-company2" />

                        </div>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>

                <div class="d-flex gap-5 mb-3">
                    <div class="w-50 flex-fill">
                        <label class="form-label" for="basic-icon-default-company">Password *</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text">
                                <i class='bx bx-lock-alt'></i>
                            </span>
                            <input type="password"
                                   asp-for="@Model.Password"
                                   id="basic-icon-default-company"
                                   class="form-control"
                                   placeholder="Password"
                                   autocomplete="new-password"
                                   aria-label="Password"
                                   aria-describedby="basic-icon-default-company2" />

                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="w-50 flex-fill">
                        <label class="form-label" for="basic-icon-default-company">Confirm Password *</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text">
                                <i class='bx bx-lock-alt'></i>
                            </span>
                            <input type="password"
                                   asp-for="@Model.ConfirmPassword"
                                   id="basic-icon-default-company"
                                   class="form-control"
                                   placeholder="Confirm Password"
                                   autocomplete="new-password"
                                   aria-label="Confirm Password"
                                   aria-describedby="basic-icon-default-company2" />

                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>


                <div class="mb-3">
                    <div class="flex-fill">
                        <label class="form-label" for="basic-icon-default-company">Email *</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text">
                                <i class='bx bx-envelope'></i>
                            </span>
                            <input type="text"
                                   asp-for="@Model.Email"
                                   id="basic-icon-default-company"
                                   class="form-control"
                                   placeholder="Email"
                                   value="@Model?.Email"
                                   aria-label="Email"
                                   aria-describedby="basic-icon-default-company2" />

                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="flex-fill">
                        <label class="form-label" for="basic-icon-default-company">Phone Number *</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text">
                                <i class='bx bx-phone'></i>
                            </span>
                            <input type="text"
                                   asp-for="@Model.Phone"
                                   id="basic-icon-default-company"
                                   class="form-control"
                                   value="@Model?.Phone"
                                   placeholder="Phone Number"
                                   aria-label="Phone Number"
                                   aria-describedby="basic-icon-default-company2" />

                        </div>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-message">Description</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-message2" class="input-group-text">
                            <i class="bx bx-comment"></i>
                        </span>
                        <textarea asp-for="Description" id="basic-icon-default-message"
                                  class="form-control"
                                  placeholder="Description.."
                                  aria-label="Description.."
                                  aria-describedby="basic-icon-default-message2"></textarea>
                    </div>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="row justify-content-start">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
