﻿@using JobManagement.Models.Auth;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ChangePasswordModel;
@{
    ViewData["Title"] = "Change Password Page";
}

<div class="col-xxl col-lg-8 container">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Change Password</h5>
        </div>
        <div class="card-body">
            <form id="" asp-action="ChangeMyPassword" asp-controller="Profile">
                <div class="mb-3">
                    <div class="flex-fill">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Old Password *</label>
                        <div class="input-group input-group-merge form-password-toggle">
                            <span id="basic-icon-default-fullname2" class="input-group-text">
                                <i class='bx bxs-lock'></i>
                            </span>
                            <input type="password"
                                   required
                                   class="form-control"
                                   asp-for="@Model.OldPassword"
                                   id="basic-icon-default-fullname"
                                   placeholder="Old Password"
                                   aria-label="Old Password"
                                   aria-describedby="basic-icon-default-fullname2" />
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>

                        </div>
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="flex-fill">

                        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">New Password *</label>
                        <div class="input-group input-group-merge form-password-toggle">
                            <span id="basic-icon-default-fullname2" class="input-group-text">
                                <i class='bx bxs-lock'></i>
                            </span>
                            <input type="password"
                                   required
                                   asp-for="@Model.NewPassword"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   placeholder="New Password"
                                   aria-label="New Password"
                                   aria-describedby="basic-icon-default-fullname2" />
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>

                        </div>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="flex-fill">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Confirm Password *</label>
                        <div class="input-group input-group-merge form-password-toggle">
                            <span id="basic-icon-default-fullname2" class="input-group-text">
                                <i class='bx bxs-lock'></i>
                            </span>
                            <input type="password"
                                   class="form-control"
                                   required
                                   asp-for="@Model.ConfirmPassword"
                                   id="basic-icon-default-fullname"
                                   placeholder="Confirm Password"
                                   aria-label="Confirm Password"
                                   aria-describedby="basic-icon-default-fullname2" />
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>

                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row justify-content-start">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

