﻿@using Domain.Entities;
@model Contract;


<table>

    <div class="col-lg">
        <div class="card">
            <h5 class="card-header">Contract @Model.Id</h5>
            <div class="card-body">
                <small class="text-light fw-semibold">Description</small>
                <p>@Model.Description</p>
            </div>
            <hr class="m-0" />
            <div class="card-body">
                <small class="text-light fw-semibold">Contract Information</small>

                <dl class="row mt-2">
                    <dt class="col-sm-3">Interviewer</dt>
                    <dd class="col-sm-9">@Model.Interviewer</dd>

                    <dt class="col-sm-3">InterviewTime</dt>
                    <dd class="col-sm-9">@Model.InterviewTime</dd>

                    <dt class="col-sm-3">Company</dt>
                    <dd class="col-sm-9">
                        <p>@Model.Company.Name</p>
                    </dd>

                    <dt class="col-sm-3">Resume</dt>
                    <dd class="col-sm-9">@Model.Resume.Name</dd>

                    <dt class="col-sm-3 text-truncate">OfferSalary</dt>
                    <dd class="col-sm-9">
                        @Model.OfferSalary
                    </dd>

                    <dt class="col-sm-3">RequestSalary</dt>
                    <dd class="col-sm-9">@Model.RequestSalary</dd>

                </dl>
            </div>
        </div>
    </div>
</table>