﻿﻿@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Rendering

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ISession? session = HttpContextAccessor.HttpContext?.Session;

    string? name = session?.GetString("currentName");
    string? id = session?.GetString("currentId");

    ViewContext viewContext = (ViewContext)ViewContext;
    string? controllerName = viewContext.RouteData.Values["controller"]?.ToString();
    string? actionName = viewContext.RouteData.Values["action"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JobApplicationManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Country list data-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="//unpkg.com/bootstrap-select-country@4.0.0/dist/js/bootstrap-select-country.min.js"></script>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/vendor/fonts/boxicons.css" />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />
    <!-- Core CSS -->
    <link rel="stylesheet" href="~/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="~/vendor/css/core.css" />
    <link rel="stylesheet" href="~/vendor/css/theme-default.css" />
    <link rel="stylesheet" href="~/css/demo.css" />
    <link rel="stylesheet" href="~/JobApplicationManagement.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">

    <script src="~/vendor/js/helpers.js"></script>
    <script src="~/js/config.js"></script>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</head>
<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <aside id="layout-menu" class="layout-menu layout-menu-fixed menu-vertical menu bg-menu-theme sticky-top" data-bg-class="bg-menu-theme">
                <div class="sticky-top">
                    <div class="app-brand demo">
                        <a href="@Url.Action("Index", "Home")" class="app-brand-link">
                            <span class="app-brand-logo demo">
                                <svg width="25"
                                     viewBox="0 0 25 42"
                                     version="1.1"
                                     xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <defs>
                                        <path d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z"
                                              id="path-1"></path>
                                        <path d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z"
                                              id="path-3"></path>
                                        <path d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z"
                                              id="path-4"></path>
                                        <path d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z"
                                              id="path-5"></path>
                                    </defs>
                                    <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                                            <g id="Icon" transform="translate(27.000000, 15.000000)">
                                                <g id="Mask" transform="translate(0.000000, 8.000000)">
                                                    <mask id="mask-2" fill="white">
                                                        <use xlink:href="#path-1"></use>
                                                    </mask>
                                                    <use fill="#696cff" xlink:href="#path-1"></use>
                                                    <g id="Path-3" mask="url(#mask-2)">
                                                        <use fill="#696cff" xlink:href="#path-3"></use>
                                                        <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                                                    </g>
                                                    <g id="Path-4" mask="url(#mask-2)">
                                                        <use fill="#696cff" xlink:href="#path-4"></use>
                                                        <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                                                    </g>
                                                </g>
                                                <g id="Triangle"
                                                   transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) ">
                                                    <use fill="#696cff" xlink:href="#path-5"></use>
                                                    <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                            <span class="app-brand-text demo menu-text fw-bolder ms-2">JobM</span>
                        </a>

                        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                            <i class="bx bx-chevron-left bx-sm align-middle"></i>
                        </a>
                    </div>

                    <div class="menu-inner-shadow"></div>
                    <ul class="menu-inner py-1 ps ps-active-y">
                        <!-- Dashboard -->
                        <li class="@(controllerName == "Account" ? "active menu-item" : "menu-item")">
                            <a class="menu-link d-flex align-items-center" asp-area="" asp-controller="Account" asp-action="Index">
                                <ion-icon class="menu-icon tf-icons" name="person-outline"></ion-icon>
                                Account
                            </a>
                        </li>

                        <li class="@(controllerName == "JobDescription" ? "active menu-item" : "menu-item")">
                            <a class="menu-link d-flex align-items-center" asp-area="" asp-controller="JobDescription" asp-action="Index">
                                <ion-icon class="menu-icon tf-icons" name="construct-outline"></ion-icon>
                                Jobs
                            </a>
                        </li>

                        <li class="@(controllerName == "Contract" ? "active menu-item" : "menu-item")">
                            <a class="menu-link d-flex align-items-center" asp-area="" asp-controller="Contract" asp-action="ViewContracts">
                                <ion-icon class="menu-icon tf-icons" name="document-text-outline"></ion-icon>
                                Contracts
                            </a>
                        </li>
                        <li class="@(controllerName == "Company" ? "active menu-item" : "menu-item")">
                            <a class="menu-link d-flex align-items-center" asp-area="" asp-controller="Company" asp-action="ViewCompanies">
                                <ion-icon class="menu-icon tf-icons" name="podium-outline"></ion-icon>
                                Company
                            </a>
                        </li>

                        <li class="@(controllerName == "Resume" ? "active menu-item" : "menu-item")">
                            <a class="menu-link d-flex align-items-center" asp-area="" asp-controller="Resume" asp-action="ViewResumes">
                                <ion-icon class="menu-icon tf-icons" name="save-outline"></ion-icon>
                                Resume
                            </a>
                        </li>

                        <li class="menu-item @(controllerName == "Profile" ? "active menu-item" : "menu-item")">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <ion-icon class="menu-icon" name="build-outline"></ion-icon>
                                <div data-i18n="Account setting">Account setting</div>
                            </a>
                            <ul class="menu-sub">
                                <li class="menu-item @(controllerName == "Profile" && actionName == "MyAccount" ? "active menu-item" : "menu-item")">
                                    <a href="@Url.Action("MyAccount", "Profile")" class="menu-link">
                                        <div data-i18n="My profile">My profile</div>
                                    </a>
                                </li>
                                <li class="menu-item @(controllerName == "Profile" && actionName == "ChangePassword" ? "active menu-item" : "menu-item")" ">
                                    <a href="@Url.Action("ChangeMyPassword", "Profile")" class="menu-link">
                                        <div data-i18n="Change password">Change password</div>
                                    </a>
                                </li>
                                <li class="menu-item li-n">
                                    <a href="@Url.Action("Logout", "Auth")" class="menu-link">
                                        <div class="text-danger" data-i18n="Logout">Logout</div>
                                    </a>
                        </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </aside>
            <div class="layout-page">
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <main role="main" class="pb-3">
                                @{
                                    if (@TempData["Error"] != null)
                                    {
                                    <div class="alert alert-danger alert-dismissible zindex-1" role="alert">
                                            @TempData["Error"]
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    }
                                }
                                @{
                                    if (@TempData["Success"] != null)
                                    {
                                    <div class="alert alert-success alert-dismissible zindex-1" role="alert">
                                            @TempData["Success"]
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
                                    }
                                }
            @RenderBody()
        </main>
    </div>
                    <footer class="content-footer footer bg-footer-theme position-relative">
                        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                            <div class="mb-2 mb-md-0">
                                ©
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                                , made with ❤️ by
                                <a href="#" target="_blank" class="footer-link fw-bolder">Job Management</a>
                            </div>
        </div>
    </footer>
                    <div class="content-backdrop fade"></div>
                </div>
            </div>
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>

    <script src="~/js/ui-toasts.js"></script>
    <script src="~/vendor/libs/jquery/jquery.js"></script>
    <script src="~/vendor/libs/popper/popper.js"></script>
    <script src="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/vendor/js/menu.js"></script>
    <script src="~/js/main.js"></script>

    <script src="https://cdn.tiny.cloud/1/kc5hd29x0rmuphebu1mclhwrkacwl9kp0kiypucb4993sued/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>