﻿@using Domain.Entities;
@model UpdateCompanyModel;

<h1>Company</h1>
<table>
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Your Company</h5>
            </div>
            <form asp-action="UpdateCompany" asp-controller="Company" class="form card-body" method="post" enctype="multipart/form-data">
                <div class="card-body">

                    <div class="row mb-3 form-group">
                        <label class="col-sm-2 col-form-label" for="basic-default-name">Name</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   id="basic-default-name"
                                   placeholder="FPT"
                                   asp-for="@Model.Name" />
                            <span asp-validation-for="Name" class="text-danger mt-1 d-block invalid-feedback"></span>
                        </div>


                    </div>
                    <div class="mb-3 row form-group">
                        <label class="col-sm-2 col-form-label" for="basic-default-address">Address</label>
                        <div class="col-md-10">
                            <input class="form-control"
                                   type="text"
                                   id="basic-default-address"
                                   placeholder="Thu Duc"
                                   asp-for="@Model.Address" />
                            <span asp-validation-for="Address" class="text-danger mt-1 d-block invalid-feedback"></span>
                        </div>

                    </div>
                    <div class="row mb-3 form-group">
                        <label class="col-sm-2 col-form-label" for="basic-default-email">Email</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   id="basic-default-email"
                                   class="form-control"
                                   placeholder="john.doe"
                                   aria-label="john.doe"
                                   aria-describedby="basic-default-email2"
                                   asp-for="@Model.Email" />
                            <span asp-validation-for="Email" class="text-danger mt-1 d-block invalid-feedback"></span>
                            <div class="form-text">You can use letters, numbers & periods</div>
                        </div>
                    </div>
                    <div class="row mb-3 form-group">
                        <label class="col-sm-2 col-form-label" for="basic-default-phone">Phone No</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   id="basic-default-phone"
                                   class="form-control phone-mask"
                                   placeholder="658 799 8941"
                                   aria-label="658 799 8941"
                                   aria-describedby="basic-default-phone"
                                   asp-for="@Model.Phone" />
                            <span asp-validation-for="Phone" class="text-danger mt-1 d-block invalid-feedback"></span>
                        </div>

                    </div>

                    <div class="mb-3 row form-group">
                        <label class="col-sm-2 col-form-label" for="basic-default-longitude">Longitude</label>
                        <div class="col-md-10">
                            <input class="form-control"
                                   type="text"
                                   id="basic-default-longitude"
                                   asp-for="@Model.Longitude" />
                            <span asp-validation-for="Longitude" class="text-danger mt-1 d-block invalid-feedback"></span>
                        </div>

                    </div>

                    <div class="mb-3 row form-group">
                        <label class="col-sm-2 col-form-label" for="basic-default-latitude">Latitude</label>
                        <div class="col-md-10">
                            <input class="form-control"
                                   type="text"
                                   id="basic-default-latitude"
                                   asp-for="@Model.Latitude" />
                            <span asp-validation-for="Latitude" class="text-danger mt-1 d-block invalid-feedback"></span>
                        </div>

                    </div>

                    <div class="mb-3 row form-group">
                        <label class="col-sm-2 col-form-label" for="basic-default-country">Country</label>
                        <div class="col-md-10">
                            <input class="form-control"
                                   type="text"
                                   id="basic-default-country"
                                   asp-for="@Model.Country" />
                            <span asp-validation-for="Country" class="text-danger mt-1 d-block invalid-feedback"></span>
                        </div>

                    </div>

                    <div class="mb-3 row form-group">
                        <label class="col-sm-2 col-form-label" for="basic-default-minScale">MinScale</label>
                        <div class="col-md-10">
                            <input class="form-control"
                                   type="text"
                                   id="basic-default-minScale"
                                   asp-for="@Model.MinScale" />
                            <span asp-validation-for="MinScale" class="text-danger mt-1 d-block invalid-feedback"></span>
                        </div>

                    </div>

                    <div class="mb-3 row form-group">
                        <label class="col-sm-2 col-form-label" for="basic-default-maxScale">MaxScale</label>
                        <div class="col-md-10">
                            <input class="form-control"
                                   type="text"
                                   id="basic-default-maxScale"
                                   asp-for="@Model.MaxScale" />
                            <span asp-validation-for="MaxScale" class="text-danger mt-1 d-block invalid-feedback"></span>
                        </div>

                    </div>

                    <div class="row mb-3 form-group">
                        <label class="col-sm-2 col-form-label" for="basic-default-message">Description</label>
                        <div class="col-sm-10">
                            <textarea id="basic-default-message"
                                      class="form-control"
                                      placeholder="The company..."
                                      aria-describedby="basic-icon-default-message2"
                                      asp-for="@Model.Description">
                                </textarea>
                        </div>
                    </div>

                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</table>
@section scripts {
    <script>
        $(function () {
            $('.selectpicker').selectpicker();
        });
    </script>
    }

