﻿@using Domain.Entities;
@model Company;

<h1>Company</h1>
<table>

    <div class="col-lg">
        <div class="card">
            <h5 class="card-header">Company Name</h5>
            <div class="card-body">
                <small class="text-light fw-semibold">Description</small>
                <p>@Model.Description</p>
            </div>
            <hr class="m-0" />
            <div class="card-body">
                <small class="text-light fw-semibold">Company Information</small>
                
                <dl class="row mt-2">
                    <dt class="col-sm-3">Name</dt>
                    <dd class="col-sm-9">@Model.Name</dd>

                    <dt class="col-sm-3">Phone</dt>
                    <dd class="col-sm-9">
                        <p>@Model.Phone</p>
                    </dd>

                    <dt class="col-sm-3">Email</dt>
                    <dd class="col-sm-9">@Model.Email</dd>

                    <dt class="col-sm-3 text-truncate">Address</dt>
                    <dd class="col-sm-9">
                        @Model.Address
                    </dd>
                    
                    <dt class="col-sm-3">Longitude</dt>
                    <dd class="col-sm-9">@Model.Longitude</dd>

                    <dt class="col-sm-3">Latitude</dt>
                    <dd class="col-sm-9">@Model.Latitude</dd>

                    <dt class="col-sm-3">Country</dt>
                    <dd class="col-sm-9">@Model.Country</dd>

                    <dt class="col-sm-3">MinScale</dt>
                    <dd class="col-sm-9">@Model.MinScale</dd>

                    <dt class="col-sm-3">MaxScale</dt>
                    <dd class="col-sm-9">@Model.MaxScale</dd>

                </dl>
            </div>
        </div>
    </div>
</table>