﻿@using Applications.Models;
@using JobManagement.Utils;
@model List<JobDescriptionModel>
@{
    var totalPages = ViewData["TotalPages"] as int?;
    var pageNumber = ViewData["PageNumber"] as int?;
    var selectedId = ViewData["SelectedId"] as long?;
}

<div class="w-100">
    @if (Model?.Count() > 0)
    {
        foreach (var job in Model)
        {
            <div id="job-item" data-job-id="@job.Id" class="card mb-4 @(selectedId != null && selectedId == job.Id ? "bg-primary" : "")">
                <div class="row card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <a href="@Url.Action("ViewDetail", "JobDescription", new { id = job.Id })">
                            <h4 class="card-title text-primary text-danger:hover">@job.Title</h4>
                        </a>
                        <p class="text-primary small text-italic"><em>@TimeUtils.AsTimeAgo((DateTime)job.CreatedAt)</em></p>
                    </div>
                    <div>
                        <div class="d-flex align-items-center mb-2">
                            <ion-icon name="podium-outline" class="me-2 bg-label-primary p-1 rounded"></ion-icon>
                            <div class="">@job.Company?.Name</div>
                        </div>

                        <div class="d-flex align-items-center mb-2">
                            <ion-icon name="pricetags-outline" class="me-2 bg-label-success p-1 rounded"></ion-icon>
                            <div class="">
                                <strong>@SalaryUtils.GetSalary(job.MinSalary, job.MaxSalary)</strong>
                            </div>
                        </div>

                        <div class="row d-flex justify-content-between">
                            <div class="d-flex align-items-center mb-2 col-6">
                                <ion-icon name="alarm-outline" class="me-2 bg-label-secondary p-1 rounded"></ion-icon>
                                <div class="">@job.Type.ToString()</div>
                            </div>

                            <div class="d-flex align-items-center mb-2 col-6">
                                <ion-icon name="analytics-outline" class="ms-auto me-2 bg-label-success p-1 rounded"></ion-icon>
                                <div class="">@job.Level.ToString()</div>
                            </div>
                        </div>


                        <div class="d-flex align-items-center mb-2">
                            <ion-icon name="location-outline" class="me-2 bg-label-info p-1 rounded"></ion-icon>
                            <div class="">@job.Company?.Address</div>
                        </div>

                    </div>
                    <div class="my-4">
                        @if (job.Skills?.Count > 0)
                        {
                            foreach (var skill in job.Skills)
                            {
                                <span class="me-2 badge bg-label-primary">@skill.Name</span>
                            }
                        }

                    </div>
                </div>
            </div>
        }
    }
</div>

@if (totalPages > 0)
{
    <div class="my-3">
        <div class="row">
            <div class="col">
                <div class="max-auto">
                    <nav aria-label="Page navigation">
                        <ul class="pagination d-flex justify-content-end">
                            @if (@pageNumber != 1)
                            {
                                <li onclick="getPage(1)" class="page-item first">
                                    <a class="page-link" href="javascript:void(0);">
                                        <i class="tf-icon bx bx-chevrons-left"></i>
                                    </a>
                                </li>
                            }
                            @for (int i = 1; i <= totalPages; i++)
                            {
                                <li onclick="getPage(@i)" id="page-link" data-page-number="@i" class="page-item @(i == pageNumber ? "active" : "")">
                                    <a class="page-link" href="javascript:void(0);">@i</a>
                                </li>
                            }

                            @if (pageNumber != totalPages)
                            {
                                <li onclick="getPage(@totalPages)" class="page-item last">
                                    <a class="page-link" href="javascript:void(0);">
                                        <i class="tf-icon bx bx-chevrons-right"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
}

